<!doctype html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1><b>
      <center>수지의 자기소개</center>
    </b></h1>
    <hr>
    <div class="col-md-6">
      <img
        src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7DE/image/VEiJpbE4E-z6xuD0d2OkIqxkIes.jpg"
        width="500" height="400">
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
          <span style="padding:8px 20px; background-color: orange; display:inline-block;">학교</span>
          <div style="border-bottom: 2px solid orange"></div>
        <h3 class="card-text mb-auto">충북대학교 2017023010 경영정보학과</h3>
        <span style="padding:8px 20px; background-color:  yellow; display:inline-block;">취미</span>
          <div style="border-bottom: 2px solid yellow"></div>
        <h3 class="card-text mb-auto">드라마보기, 노래듣기</h3>
        <span style="padding:8px 20px; background-color:  greenyellow; display:inline-block;">장점</span>
        <div style="border-bottom: 2px solid greenyellow"></div>
        <h3 class="card-text mb-auto">기분이 좋을 때 밝다, 성실하다</h3>
        <span style="padding:8px 20px; background-color:skyblue; display:inline-block;">단점</span>
        <div style="border-bottom: 2px solid skyblue"></div>
        <h3 class="card-text mb-auto">낯을 가린다, 기분파</h3>
      </div>
    </div>